*{
    margin: 0;
    padding: 0;
}

/*navigatoion bar*/

#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
/*logo and images*/
#logo{
    margin: 12px 34px;
}
#logo img{
    height: 59px;
    margin: 6px 6px;
}

/*list styling*/

ul{
    display: flex;
    margin-left: 700px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
   

}
li{
    
    list-style: none;
    font-size: 25px;
}
#navbar a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar a:hover{
    color:black;
    background-color: white;
}
    /* Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 650px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.89;
    z-index: -1;
    
}
#home{
    color: white;
    text-align: center;
   /* font-family: 'Bree Serif',serif;*/

}
#p{
    color: rgb(44, 15, 190);
    text-align: center;
    font-size: 1.5rem;
/* font-family: 'Bree Serif',serif;*/}



/* sevices section*/
/* .services-container{
    background: url('food.jpg');
    height: 100%;
    margin: 0%;
    
} */
#services{
    margin: 34px;
    display: flex;
    margin-top: 0px;
    /* background: url('food.jpg'); */
    
}
#services .box {
    /* border: 2px solid brown; */
    margin: 0px 6px;
    padding: 34px;
    border-radius: 23px;
    background-color: rgb(234, 247, 247);
    box-shadow: 6px 6px 25px green;
}
#services .box img{
    height: 150px;
    margin: auto;
    display: flex;
    /* align-items: center; */
    
}


/* contact section*/

#contact{
    position:relative;
    

}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    background: url('contactback.jpg') no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom : 34px;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.7rem;
    border-radius: 9px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
/* #contact-box form{
    width: 40%;
} */
#contact-box label{
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* footerz{
    background: black;
    color: aliceblue;
} */


/*utility classes*/
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
}
.h-secondary{
    text-align: center;
    font-size:1.8rem;
    padding: 10px;
    text-shadow: -2px -1px gray;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px ;
    font-size:1.5rem ;
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    color:black;
}
/* footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
}
.copyright{
    margin-top: 20px;
    padding: 15px;
} */


.footer-section {
    background-color: rgb(39, 37, 37);
    display: flex;
    color: white;
    justify-content: space-around;
     padding: 40px; 

}
.about-heading {
    border-bottom: 1px dotted burlywood;
    padding-bottom: 20px;
}

.opening-heading {
    border-bottom: 1px dotted burlywood;
    padding-bottom: 20px;
}

.contact-info {
    border-bottom: 1px dotted burlywood;
    padding-bottom: 20px;
}

.subcribe-heading {
    border-bottom: 1px dotted burlywood;
    padding-bottom: 20px;
}
#email{
    background-color: transparent;
    padding: 20px;
}
#btn-subscribe{
    background-color: burlywood;
    padding: 10px;
    width: 210px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#btn-subscribe:hover{
    background-color: black;
}
#href{
    
}

.copy {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

